body {
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
}	


#secondBackground {
	background-image: url(../img/background2.jpg);
}

#NotPass {
	width: 100px;
	height: 100px;
	background-image: url(../img/NotPass.jpg);
}